{{>head}}
<h1>RFC 9452 bis: IP over Rockets with Quality of Service</h1>
<h2>Bienvenue sur ce site dédié à la réalisation de la RFC 9452.</h2>
<img src="/static/rocket_vroom_vroom.jpg">
<p>Vous souhaitez participer à ce magnifique projet ?</p>
<p>Du fait de la complexité intrinsèque du projet, nous n'acceptons que les meilleurs ingénieurs spaciaux et informatiques. Afin de dénicher les meilleurs éléments, nous avons mis en place un système de preuve de travail/compétence: trouvez le flag (séquence de caractères unique, entourée de <code>404 CTF{</code> et <code>}</code>) et vous serez des notres !</p>
<br>
<p><i>NB: le système de preuve de travail/compétence ne s'applique actuellement qu'aux spécialistes du numérique. Nous en appelons pour l'instant à la bonne foi des experts du spatial pour leur recrutement.</i></p>
{{>foot}}
